<a href="https://colab.research.google.com/github/Vrush-cmd/Titanic/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [4]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df_train.drop(columns=['Cabin'],axis=1,inplace=True)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [9]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [10]:
df_test.drop(columns=['Cabin'],axis=1,inplace=True)

In [11]:
df_train['Age'].fillna(value=df_train['Age'].mean(),inplace=True)

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [13]:
df_test.isna().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Embarked        0
Survived        0
dtype: int64

In [14]:
df_test['Age'].fillna(value=df_test['Age'].mean(),inplace=True)

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Embarked     418 non-null    object
 10  Survived     418 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 36.0+ KB

In [16]:
df_train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [17]:
df_train['Embarked'].fillna(value=df_train['Embarked'].mode()[0],inplace=True)

In [18]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Embarked     418 non-null    object
 10  Survived     418 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 36.0+ KB

In [20]:
df_train['Fare'].median()

14.4542

In [21]:
df_train['Fare'].fillna(value=df_train['Fare'].median(),inplace=True)

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [23]:
df_train.drop(['PassengerId','Name'],axis=1,inplace=True)
Passenger_id = df_test['PassengerId']
df_test.drop(['PassengerId','Name'],axis=1,inplace=True)

In [24]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [25]:
df_train.drop(['Ticket'],axis=1,inplace=True)
df_test.drop(['Ticket'],axis=1,inplace=True)

In [26]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [27]:
df_test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0       3    male  34.5      0      0   7.8292        Q         0
1       3  female  47.0      1      0   7.0000        S         1
2       2    male  62.0      0      0   9.6875        Q         0
3       3    male  27.0      0      0   8.6625        S         0
4       3  female  22.0      1      1  12.2875        S         1

In [30]:
df_train['SEX']=pd.get_dummies(df_train['Sex'],drop_first=True)

In [31]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked  SEX
0         0       3    male  22.0      1      0   7.2500        S    1
1         1       1  female  38.0      1      0  71.2833        C    0
2         1       3  female  26.0      0      0   7.9250        S    0
3         1       1  female  35.0      1      0  53.1000        S    0
4         0       3    male  35.0      0      0   8.0500        S    1

In [32]:
df_train.drop(['Sex'],axis=1,inplace=True)

In [33]:
df_train.head()

   Survived  Pclass   Age  SibSp  Parch     Fare Embarked  SEX
0         0       3  22.0      1      0   7.2500        S    1
1         1       1  38.0      1      0  71.2833        C    0
2         1       3  26.0      0      0   7.9250        S    0
3         1       1  35.0      1      0  53.1000        S    0
4         0       3  35.0      0      0   8.0500        S    1

In [34]:
df_test['SEX']=pd.get_dummies(df_test['Sex'],drop_first=True)

In [35]:
df_test.drop(['Sex'],axis=1,inplace=True)

In [36]:
df_test.head()

   Pclass   Age  SibSp  Parch     Fare Embarked  Survived  SEX
0       3  34.5      0      0   7.8292        Q         0    1
1       3  47.0      1      0   7.0000        S         1    0
2       2  62.0      0      0   9.6875        Q         0    1
3       3  27.0      0      0   8.6625        S         0    1
4       3  22.0      1      1  12.2875        S         1    0

In [37]:
temp=pd.get_dummies(df_train['Embarked'],prefix='Embarked')
df_train_final = pd.concat([df_train,temp],axis=1)
df_train_final.drop('Embarked',axis=1,inplace=True)

In [42]:
df_train_final.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,SEX,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,0,1
1,1,1,38.0,1,0,71.2833,0,1,0,0
2,1,3,26.0,0,0,7.9250,0,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,0,1

In [43]:
df_train_final.corr()['Survived']

Survived      1.000000
Pclass       -0.338481
Age          -0.069809
SibSp        -0.035322
Parch         0.081629
Fare          0.257307
SEX          -0.543351
Embarked_C    0.168240
Embarked_Q    0.003650
Embarked_S   -0.149683
Name: Survived, dtype: float64

In [44]:
temp=pd.get_dummies(df_test['Embarked'],prefix='Embarked')
df_test_final = pd.concat([df_test,temp],axis=1)
df_test_final.drop('Embarked',axis=1,inplace=True)

In [45]:
df_test_final.head()

,Pclass,Age,SibSp,Parch,Fare,Survived,SEX,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
model = RandomForestClassifier()

In [50]:
X = df_train_final.drop('Survived',axis=1)
y = df_train_final['Survived']

In [51]:
model.fit(X,y)

RandomForestClassifier()

In [52]:
model.score(X,y)

0.9820426487093153

In [53]:
X_test=df_test_final

In [56]:
X_test['Fare'].fillna(value=X_test['Fare'].median(),inplace=True)

In [60]:
X_test.drop('Survived',axis=1,inplace=True)

In [61]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Age         418 non-null    float64
 2   SibSp       418 non-null    int64
 3   Parch       418 non-null    int64
 4   Fare        418 non-null    float64
 5   SEX         418 non-null    uint8
 6   Embarked_C  418 non-null    uint8
 7   Embarked_Q  418 non-null    uint8
 8   Embarked_S  418 non-null    uint8
dtypes: float64(2), int64(3), uint8(4)
memory usage: 18.1 KB

In [62]:
y_predict=model.predict(X_test)

In [67]:
df_submit=pd.DataFrame({'PassengerId': Passenger_id,'Survived':y_predict})

In [68]:
df_submit

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [69]:
df_submit.to_csv('submit_01.csv',index=False)

In [80]:
from xgboost import XGBClassifier
from sklearn.feature_extraction import DictVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [89]:
CLF = XGBClassifier(n_estimators=11,max_depth=7,learning_rate=0.55,colsample_bytree=0.8)

In [90]:
CLF.fit(X,y)

XGBClassifier(colsample_bytree=0.8, learning_rate=0.55, max_depth=7,
              n_estimators=11)

In [91]:
CLF.score(X,y)

0.920314253647587

In [101]:
y_predict1=CLF.predict(X_test)

In [102]:
y_predict

array([0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [114]:
df_submit2=pd.DataFrame({'PassengerId': Passenger_id,'Survived':y_predict1})

In [115]:
df_submit.to_csv('submit_06.csv',index=False)

In [108]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc.fit(X, y)
y_pred = gbc.predict(X_test)
gbc.score(X,y)

0.8922558922558923

In [109]:
from sklearn.model_selection import GridSearchCV

parameters = {
    "learning_rate": [0.01, 0.05, 0.1, 0.2, 0.5, 0.7, 0.8],
    "max_depth":[2,4,8,10],
    "max_features":["log2","sqrt"],
    "n_estimators":[10, 20,30,50,70,100],
    "min_samples_split":[2,4,6,8]
    }

#passing the scoring function in the GridSearchCV
gcv = GridSearchCV(gbc,
                   param_grid=parameters,
                   scoring="accuracy",
                   cv=5,
                   verbose=1
                  )

In [110]:
gcv.fit(X, y)

Fitting 5 folds for each of 1344 candidates, totalling 6720 fits

GridSearchCV(cv=5, estimator=GradientBoostingClassifier(),
             param_grid={'learning_rate': [0.01, 0.05, 0.1, 0.2, 0.5, 0.7, 0.8],
                         'max_depth': [2, 4, 8, 10],
                         'max_features': ['log2', 'sqrt'],
                         'min_samples_split': [2, 4, 6, 8],
                         'n_estimators': [10, 20, 30, 50, 70, 100]},
             scoring='accuracy', verbose=1)

In [112]:
gcv.score(X,y)

0.9068462401795735

In [113]:
y1 = gcv.predict(X_test)

In [116]:
df_submit2=pd.DataFrame({'PassengerId': Passenger_id,'Survived':y1})

In [118]:
df_submit2.to_csv('submit_07.csv',index=False)

In [119]:
df_submit3=pd.DataFrame({'PassengerId': Passenger_id,'Survived':y_pred})

In [120]:
df_submit3.to_csv('submit_08.csv',index=False)

In [121]:
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes

In [124]:
gnb = GaussianNB()
gnb.fit(X,y)
y_pred = gnb.predict(X_test)
gnb.score(X,y)

0.7867564534231201

In [125]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X,y)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X,y) * 100, 2)
acc_decision_tree

98.2

In [126]:
df_submit5=pd.DataFrame({'PassengerId': Passenger_id,'Survived':Y_pred})

In [127]:
df_submit5.to_csv('submit_09.csv',index=False)